requests
discord.py
psutil
Pillow
pyttsx3
pyautogui
socket
uuid
tempfile
pyperclip
datetime
asyncio
pynput
tkinter
pywin32
pycryptodome
win10toast
pyzipper
wmi
comtypes
pycaw
aiohttp
